.App {
  text-align: center;
 margin: 50px;
  height: 100vh;

}
.jedi-wrap{
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 5em;
  grid-row-gap: 2em;
  width: max-content;
  margin: 0 auto;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

.jedi-card{
  width: 200px;
  background: #f8f8f8;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 20px 33px 3px rgba(0,0,0,0.2);
}
.jedi-card:last-child{
  grid-column: 2;
}
h1{
  font-size: 20px;
}
/* write your parent styles in here for your App.js */
